<head>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const cards = document.querySelectorAll(".fade-in-on-scroll");

    const observer = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add("visible");
          observer.unobserve(entry.target); // run once
        }
      });
    }, { threshold: 0.1 });

    cards.forEach(card => observer.observe(card));
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const toggle = document.getElementById("navToggle");
    const navLinks = document.getElementById("navLinks");

    toggle.addEventListener("click", function () {
      navLinks.classList.toggle("open");
    });
  });
</script>

<body>
  {% include navbar.html %}
  {{ content }}
  {% include footer.html %}
</body>

